<div class="task">

  <p class="description <%= task.completed ? "strikethrough" : "" %>">
    <span class="task_<%= task.priority %>"><%= task.priority %></span>.
    <%= task.description %>
  </p>
  <p>
    <%= task.display_tags %>
  </p>

  <form action="/task/<%= task.id %>/toggle_complete" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <input type="submit" value="<%= task.completed ? "Uncomplete" : "Complete" %>">
  </form>

  <form action="/task/<%= task.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
  </form>

  <ul class="subtasks">
  <% task.sub_tasks.each do |sub_task| %>
    <li>
      <%= erb :'task/single', locals: {task: sub_task} %>
    </li>
  <% end %>
  </ul>
</div>