<div class="task">

  <div class="task_content">
    <p class="description <%= task.completed ? "strikethrough" : "" %>">
      <span class="task_<%= task.priority %>"><%= task.priority %></span>.
      <%= task.description %>
    </p>
    <p>
      <%= task.display_tags %>
    </p>
  </div>

  <div class="edit_wrapper">
    <%= erb :'task/edit', locals: {task: task} %>
  </div>

  <div class="task_buttons">
    <a href="/task/<%= task.id %>/edit" class="edit_link">Edit</a>
    <form action="/task/<%= task.id %>/toggle_complete" method="POST" class="toggle_form">
      <input type="hidden" name="_method" value="PUT">
      <input type="submit" value="<%= task.completed ? "Uncomplete" : "Complete" %>">
    </form>

    <form action="/task/<%= task.id %>" method="POST" class="delete_form">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete">
    </form>
  </div>

  <ul class="subtasks">
  <% task.sub_tasks.each do |sub_task| %>
    <li>
      <%= erb :'task/single', locals: {task: sub_task} %>
    </li>
  <% end %>
    <li>
      <%= erb :'task/new', locals: {parent_task_id: task.id} %>
    </li>
  </ul>
</div>